<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    "
	>

	<description>Shiro安全配置</description>
	
	<!-- 分布式 配置参考：http://blog.csdn.net/lishehe/article/details/45223823 -->
	
	<!-- 保证实现了 Shiro 内部 lifecycle 函数的 bean 执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
	
	<!-- 
	用户授权信息Cache（本机内存实现）
	<bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>
	 -->
	 
	<!-- shiro 的自带 ehcahe 缓存管理器
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:config/shiro/ehcache-shiro.xml"/>
	</bean>
	 --> 
	 
	<!-- 自定义cacheManager -->  
    <bean id="redisCache" class="com.system.shiro.RedisCache">  
        <constructor-arg ref="redisManager"></constructor-arg>  
    </bean>
	 
	 <!-- 自定义redisManager-redis -->  
    <bean id="redisCacheManager" class="com.system.shiro.RedisCacheManager">  
        <property name="redisManager" ref="redisManager" />  
    </bean>  
	
	<!--自定义Realm -->
	<bean id="myRealm" class="com.system.shiro.MyRealm"/>
	
	<!-- 凭证匹配器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="myRealm" />
		<property name="sessionMode" value="http" />
		<property name="sessionManager" ref="defaultWebSessionManager" />
		
		<!-- redis 缓存 -->
		<property name="cacheManager" ref="redisCacheManager" />
	</bean>
	
	<bean id="defaultWebSessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">    
        
        <!-- session存储的实现 -->  
        <property name="sessionDAO" ref="shiroRedisSessionDAO" />  
        
        <!-- sessionIdCookie的实现,用于重写覆盖容器默认的JSESSIONID -->  
        <property name="sessionIdCookie" ref="shareSession" />
        
        <!-- 设置全局会话超时时间，默认30分钟(1800000) -->  
        <property name="globalSessionTimeout" value="1800000" />  
        
        <!-- 是否在会话过期后会调用SessionDAO的delete方法删除会话 默认true -->  
        <property name="deleteInvalidSessions" value="true" />  
  
        <!-- 会话验证器调度时间 -->  
        <property name="sessionValidationInterval" value="1800000" />  
  
        <!-- 定时检查失效的session -->  
        <property name="sessionValidationSchedulerEnabled" value="true" />     
    </bean>
    
	<!--
		通过@Component 注解交由 Spring IOC 管理 
	<bean id="redisManager" class="com.system.utils.RedisManager"></bean>
	 -->
	
	<!-- session会话存储的实现类 -->
	<bean id="shiroRedisSessionDAO" class="com.system.shiro.RedisSessionDao">
		<property name="redisManager" ref="redisManager"/>
	</bean>
    
    <!-- sessionIdCookie的实现,用于重写覆盖容器默认的JSESSIONID -->  
    <bean id="shareSession" class="org.apache.shiro.web.servlet.SimpleCookie">  
        <!-- cookie的name,对应的默认是 JSESSIONID -->  
        <constructor-arg name="name" value="SHAREJSESSIONID" />  
        <!-- jsessionId的path为 / 用于多个系统共享jsessionId -->  
        <property name="path" value="/" />  
        <property name="httpOnly" value="true"/>  
    </bean>
	
	<!-- 配置shiro的过滤器工厂类，id- shiroFilter要和我们在web.xml中配置的过滤器一致 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- Shiro的核心安全接口,这个属性是必须的 -->
		<property name="securityManager" ref="securityManager" />
		<!-- 要求登录时的链接，非必须的属性，默认会自动寻找Web工程根目录下的"/login.jsp"页面 -->
		<property name="loginUrl" value="/index.jsp" />
		<!-- 登录成功后要跳转的连接 -->
		<property name="successUrl" value="/loginSuccess.shtml" />
		<!-- 用户访问未对其授权的资源时，所显示的连接 -->
		<property name="unauthorizedUrl" value="/error/forbidden.jsp" />
		<!-- 自定义权限配置：url 过滤在这里做 -->
		<property name="filterChainDefinitions">
			<!-- 参考：http://blog.csdn.net/jadyer/article/details/12172839 -->
			<!-- 
				Shiro验证URL时,URL匹配成功便不再继续匹配查找(所以要注意配置文件中的URL顺序,尤其在使用通配符时)故filterChainDefinitions的配置顺序为自上而下,以最上面的为准 
			-->
			<!-- Pattern里用到的是两颗星，这样才能实现任意层次的全匹配 -->
            <value>
            	<!-- 静态资源放行 -->
				/statics/** = anon 
				/common/** = anon 
				/error/** = anon 
				<!-- 登录资源放行 -->
				/toLogin/** = anon
				/login/** = anon
				
				<!-- 表示用户必需已通过认证，并拥有 superman 角色 && superman:role:list 权限才可以正常发起'/role'请求-->
				/role/** = authc,roles[superman],perms[superman:role:list]
				/right/** = authc,roles[superman],perms[superman:right:list]
				/manager/preEditPwd = authc
				/manager/editUserBase = authc
				<!-- 表示用户必需已通过认证,并拥有 superman 角色 && superman:manager:list 才可以正常发起'/manager'请求 -->
				/manager/** = authc,roles[superman],perms[superman:manager:list]
				/** = authc
			</value>
        </property>
	</bean>
	
	<!-- 开启Shiro的注解(如@RequiresRoles,@RequiresPermissions),需借助SpringAOP扫描使用Shiro注解的类,并在必要时进行安全逻辑验证 -->  
	<!-- 配置以下两个bean即可实现此功能 -->  
	<!-- Enable Shiro Annotations for Spring-configured beans. Only run after the lifecycleBeanProcessor has run -->  
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>  
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">  
        <property name="securityManager" ref="securityManager"/>  
    </bean>  
</beans>